
<div class="w-fit m-auto mb-6 pixel-border py-[6px] px-[6px]">
  <div class="synthwaveBg py-2 px-6">
    <div class="text-center bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text-4xl font-arcade">
      Critic review list
    </div>
  </div>
</div>

<!-- Filters Section -->
<div class="pixel-border w-11/12 h-fit py-[6px] m-auto mb-8 px-[6px]">
  <div class="synthwaveBg bg-repeat text-white p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <form [formGroup]="filterForm" class="contents">
        <!-- Review Status -->
        <mat-form-field class="synthwaveFormField">
          <mat-label>Review status</mat-label>
          <mat-select (selectionChange)="onReviewStatusesFilterChange($event)" multiple>
            <mat-option *ngFor="let status of reviewStatuses" [value]="status.className">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date Range -->
        <mat-form-field class="synthwaveFormField">
          <mat-label>Date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
            <input matStartDate formControlName="start" placeholder="From" (dateChange)="onStartDateChange($event)">
            <input matEndDate formControlName="end" placeholder="To" (dateChange)="onEndDateChange($event)">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <!-- Score Slider -->
        <div class="bg-[#F5F5F5] synthwaveSlider p-4">
          <label class="text-base text-[rgb(98,98,126)] pr-4">Score</label>
          <mat-slider min="1" max="10" showTickMarks discrete formGroupName="userScore">
            <input formControlName="min" value="1" matSliderStartThumb (valueChange)="onScoreMinFilterChange($event)">
            <input formControlName="max" value="10" matSliderEndThumb (valueChange)="onScoreMaxFilterChange($event)">
          </mat-slider>
        </div>

        <!-- Search Field -->
        <mat-form-field class="synthwaveFormField">
          <mat-label>Search</mat-label>
          <input formControlName="search" matInput #searchInput>
        </mat-form-field>
      </form>
    </div>

    <!-- Clear Filters Button -->
    <div class="absolute bottom-4 right-4">
      <button class="synthwaveButton" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
</div>

<!-- Review Table Section -->
<div [hidden]="totalReviews < 1">
  <div class="grow z-10 bg-repeat m-0 font-arcade flex-row justify-center items-center tracking-wider">
    <div class="pixel-border max-[500px]:w-full w-11/12 h-fit py-[6px] m-auto">
      <div class="px-1 overflow-x-auto">
        <table class="appearance-none bg-black" mat-table [dataSource]="this.dataSource" matSort (matSortChange)="loadReviews()">
          
          <ng-container matColumnDef="gameTitle">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="gameTitle" mat-header-cell *matHeaderCellDef>
              Game
            </th>
            <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-sm pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              {{element.gameTitle}}
            </td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="user" mat-header-cell *matHeaderCellDef>
              User
            </th>
            <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-sm pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              <a class="text-cyan-400 hover:text-cyan-300" [href]="'profile/' + element.user.nickname">{{element.user.nickname}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="content">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="content" mat-header-cell *matHeaderCellDef>
              Content
            </th>
            <td (click)="openContentDialog(element)" class="synthwaveBg quillViewCell bg-repeat text-white font-arcade ml-1 text-center pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              <quill-view [content]="element.content"></quill-view>
            </td>
          </ng-container>

          <ng-container matColumnDef="postDate">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="postDate" mat-header-cell *matHeaderCellDef>
              Post date
            </th>
            <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-sm pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              {{formatDate(element.postDate)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="score" mat-header-cell *matHeaderCellDef>
              Score
            </th>
            <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-sm pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              {{element.score}}
            </td>
          </ng-container>

          <ng-container matColumnDef="reviewStatus">
            <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="reviewStatus" mat-header-cell *matHeaderCellDef>
              Review status
            </th>
            <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-sm pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element">
              {{findReviewStatusName(element)}}
              <span *ngIf="element.statusChangedBy">(by <a class="text-cyan-400 hover:text-cyan-300" [href]="'profile/' + element.statusChangedBy.nickname">{{element.statusChangedBy.nickname}}</a>)</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th class="max-[590px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-header-cell *matHeaderCellDef> Options </th>
            <td class="max-[590px]:hidden synthwaveBg bg-repeat border-2 border-white" mat-cell *matCellDef="let element">
              <button
                class="w-full text-white font-arcade text-center text-base pinkTextShadow"
                type="button"
                *ngIf="element.statusChangedBy == undefined"
                (click)="approveReview(element)">
                Approve
              </button>

              <button
                class="w-full text-white font-arcade text-center text-base pinkTextShadow"
                type="button"
                (click)="openEditCriticReviewDialog(element)">
                Edit
              </button>

              <button
                class="w-full text-white font-arcade text-center text-base pinkTextShadow"
                type="button"
                *ngIf="element.reviewStatus != 'DELETED' && canDeleteReview(element)"
                (click)="softDeleteReview(element)">
                Delete
              </button>

              <button
                class="w-full text-white font-arcade text-center text-base pinkTextShadow"
                type="button"
                *ngIf="element.reviewStatus == 'DELETED' && canDeleteReview(element)"
                (click)="restoreReview(element)">
                Restore
              </button>
              
              <button
                class="w-full text-white font-arcade text-center text-base pinkTextShadow"
                type="button"
                *ngIf="element.reviewStatus == 'DELETED' && canDeleteReview(element)"
                (click)="openDeleteReviewDialog(element)">
                Delete permanently
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- Paginator -->
      <div [hidden]="totalReviews < 6">
        <mat-paginator class="font-arcade text-base pinkTextShadowWide synthwaveBg bg-repeat text-white appearance-none"
          #paginator
          [length]="totalReviews"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- No Critic Reviews Message -->
<div *ngIf="totalReviews < 1" class="max-w-[500px] m-auto pixel-border px-[6px]">
  <div class="py-[6px]">
    <p class="text-center text-white bg-[#1A1A1A] py-2 px-0 font-arcade">No critic reviews to show</p>
  </div>
</div>
