
<div class="pixel-border p-[6px] bg-black rounded-none text-white font-arcade w-fit">
  <div class="px-5 p-3">
    <h1 class="text-xl pinkTextShadow">{{ data.dialogTitle }}</h1>

    <div class="mt-4 pinkTextShadow max-h-[40rem] overflow-y-auto">
      <quill-view [content]="data.dialogContent" theme="snow"></quill-view>
    </div>

    <div class="mt-4 flex flex-row justify-center gap-5">
      <div class="pixel-border p-[6px]">
        <div>
          <button class="text-base w-full px-6" type="button" (click)="onCancel()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
