
<div class="form-container">
    <form [formGroup]="criticReviewForm" (ngSubmit)="onSubmit()">

        <div class="field-container">
            <p>{{this.formTitle}}</p>

            <div id="description-container">
                <label for="description">Content</label>
                <quill-editor class="quill-editor-custom" formControlName="content" [modules]="{ toolbar: quillToolbarOptions }"></quill-editor>
            </div>

            <mat-form-field>
                <mat-label>Score</mat-label>
                <input type="number" min="1" max="10" matInput placeholder="Input the review's score" formControlName="score" required/>
            </mat-form-field>

            <div class="centered-container">
                <button type="button" mat-stroked-button (click)="cancel()">Cancel</button>
                <button type="submit" mat-stroked-button [disabled]="!criticReviewForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
