
<app-popup-dialog
  class="max-w-[500px]"
  [dialogTitle]="this.data.editing ? 'Editing critic review': 'Requesting a critic review'"
  [submitColor]="''"
  [noSubmitButton]="false"
  [submitDisabled]="!criticReviewForm.valid"
  (submitted)="onSubmit()"
>
  <form [formGroup]="criticReviewForm" (ngSubmit)="onSubmit()">
    <div class="mt-2 mb-1">
      <label for="description" class="w-full">Content</label><br>

      <quill-editor
        class="white-quill-editor w-full text-black bg-white h-96"
        formControlName="content"
        rows="16"
        [modules]="{ toolbar: quillToolbarOptions }">
      </quill-editor>

      @if (criticReviewForm.get('content')?.hasError('minLength')) {
        <div class="p-2 text-red-600">
          Content must be at least {{ contentMinLength }} characters long.
        </div>
      }
    </div>

    <div class="mt-2">
      <label>Score</label><br>
      <input class="w-full text-black p-2" type="number" min="1" max="10" matInput placeholder="Input score" formControlName="score" required/>
    </div>
  </form>
</app-popup-dialog>
