
<div class="grow min-h-lvh z-10 text-white matrixNumbers bg-repeat m-0 font-arcade py-10 flex-row justify-center items-center">

    <div class="pixel-border w-2/3 h-fit py-[6px] m-auto max-w-[1200px]">
        <div class="synthwaveFloor bg-contain bg-no-repeat bg-bottom z-10 flex justify-center bg-black">
            <div class="z-20 w-fit inline-block pt-4 ml-8">

                <form class="group m-auto relative w-fit" [formGroup]="changeProfilePictureForm" (ngSubmit)="onSubmitProfilePictureChange()">
                    
                    <input class="z-50 peer bg-white w-36 h-32 absolute top-28 left-[10px] opacity-0" type="file" id="profilePicture" (change)="onFileSelected($event)" formControlName="profilePicture">
                    <p class="z-40 peer-hover:hidden text-center text-2xl pinkTextShadow w-36 absolute top-36 left-[10px] hover:invisible">Change me</p>
                    <button class="pinkTextShadow text-white animate-pulse disabled:opacity-30 disabled:animate-none text-3xl font-arcade mt-4" [disabled]="!changeProfilePictureForm.valid">Save avatar</button>
                </form>

                <div class="screenHead w-80 h-80 py-7 mt-8 z-50">
                    <img  class="max-w-32 max-h-32 m-auto -z-10 relative" *ngIf="imageUrl" [src]="imageUrl" alt="Loaded Image" />
                </div>

                
            </div>

            <div class="w-full inline-block group pinkTextShadow p-4 pl-8 flex flex-col">
                <div class="text-3xl w-fit">Profile &nbsp; information</div>
                <form class="text-xl flex flex-col" [formGroup]="changeProfileInformationForm" (ngSubmit)="onSubmitProfileInformationChange()">
                    

                    <div class="mt-2">
                        <label class="w-full block">Enter your new nickname</label>
                        <input class="text-black px-1 w-64 mt-2" maxlength="20" placeholder="Input nickname" formControlName="nickname"/>
                    </div>

                    <div class="flex flex-col mt-2">
                        <label class="w-full block">Description</label>
                        <textarea class="max-h-[112px] min-h-[112px] h-[112px] text-black px-1 resize-none mt-2" formControlName="description"></textarea>
                    </div>

                    <div class="invisible group-focus-within:visible mt-2">
                        <label class="block">Enter your password</label>
                        <div class="flex items-center w-64 bg-white h-[28px] mt-2">
                            <input class="px-1 h-full w-56 text-black" [type]="hidePassword() ? 'password' : 'text'" formControlName="currentPassword" required />
                            <button class="px-1 flex items-center text-black"
                            matSuffix
                            type="button"
                            (mousedown)="hidePasswordClickEvent($event)"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword()"
                            >
                                <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            </div>
                    </div>

                    <div class="mt-4 invisible group-focus-within:visible">
                        <button class="text-2xl pinkTextShadow pinkTextShadow text-white disabled:opacity-30" [disabled]="!changeProfileInformationForm.valid">Change profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   

    <div class="pixel-border w-2/3 h-[280px] py-[6px] m-auto max-w-[1200px] my-10 text-xl pinkTextShadow flex">
        <div class="px-8 py-4 h-full w-fit ml-[6px] bg-no-repeat bg-right z-0 flex flex-col bg-black">
            <h3 class="text-3xl">Change email</h3>

            <div class="mt-2">
                <label>Enter new email</label>
                <input class="w-64 mt-2" placeholder="pat@example.com" formControlName="email" (blur)="updateEmailErrorMessage()" required/>
                <mat-error *ngIf="isEmailInvalid()">{{ emailErrorMessage() }}</mat-error>
            </div>

            <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmitEmailChange()">
                <div class="mt-2">
                    <label>Enter password</label>
                    <div class="flex items-center w-64 bg-white h-[28px] mt-2">
                        <input class="px-1 h-full w-56 text-black" [type]="hidePassword() ? 'password' : 'text'" formControlName="currentPassword" required />
                        <button class="px-1 flex items-center text-black"
                        matSuffix
                        type="button"
                        (mousedown)="hidePasswordClickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        >
                            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                </div>

                

                <div class="mt-4">
                    <button class="text-white pinkTextShadow text-2xl" [disabled]="!changeEmailForm.valid">Change email</button>
                </div>
            </form>
        </div>
        <div class="neonAtSymbols w-full h-full bg-cover bg-no-repeat"></div>
    </div>




    <div class="pixel-border w-2/3 h-[350px] py-[6px] m-auto max-w-[1200px] my-10 text-xl pinkTextShadow flex">
        <div class="px-8 py-4 h-full w-fit ml-[6px] bg-no-repeat bg-right z-0 flex flex-col bg-black">
            <h3 class="text-3xl">Change password</h3>

            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPasswordChange()">
                <div class="mt-2">
                    <label>Enter current password</label>
                    <div class="flex items-center w-64 bg-white h-[28px] mt-2">
                        <input class="px-1 h-full w-56 text-black" [type]="hidePassword() ? 'password' : 'text'" formControlName="currentPassword" required />
                        <button class="px-1 flex items-center text-black"
                        matSuffix
                        type="button"
                        (mousedown)="hidePasswordClickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        >
                            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="mt-2">
                    <label>Enter new password</label>
                    <div class="flex items-center w-64 bg-white h-[28px] mt-2">
                        <input class="px-1 h-full w-56 text-black" [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required />
                        <button class="px-1 flex items-center text-black"
                        matSuffix
                        type="button"
                        (mousedown)="hidePasswordClickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        >
                            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="mt-2">
                    <label>Confirm new password</label>
                    <div class="flex items-center w-64 bg-white h-[28px] mt-2">
                        <input class="px-1 h-full w-56 text-black" [type]="hidePassword() ? 'password' : 'text'" formControlName="confirmPassword" (blur)="updatePasswordMismatchErrorMessage()" required />
                        <button class="px-1 flex items-center text-black"
                        matSuffix
                        type="button"
                        (mousedown)="hidePasswordClickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        >
                            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-error class="bottom-mat-error" *ngIf="isPasswordMismatch()">{{ passwordMismatchErrorMessage() }}</mat-error>

                <div class="mt-4">
                    <button class="text-white pinkTextShadow text-2xl" [disabled]="!changePasswordForm.valid">Change password</button>
                </div>
            </form>
        </div>
        <div class="neonStarsSymbols w-full h-full bg-cover bg-no-repeat bg-center"></div>
    </div>
 
    <div class="pixel-border w-36 h-fit py-[6px] m-auto mb-8 px-[6px]">
        <div class="flex justify-center font-arcade text-3xl bg-black">
            <button class="text-white" (click)="openLogoutDialog()">Logout</button>
        </div>
    </div>

    <div class="pixel-border w-64 h-fit py-[6px] m-auto px-[6px]">
        <div class="flex justify-center font-arcade text-3xl bg-red-600">
            <button (click)="openAccountDeletionDialog()">Delete account</button>
        </div>
    </div>
</div>
