
<div class="pixel-border max-w-[330px] h-fit p-[6px]">
  <div class="flex justify-center font-arcade text-lg bg-black text-white pinkTextShadow">
    <button class="pinkTextShadowWide p-1"(click)="goBack()">Go back to profile</button>
  </div>
</div>

<div class="w-fit m-auto pixel-border p-[6px]">
  <div class="synthwaveBg py-2 px-6">
    <div class="text-center bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text-4xl font-arcade">
      Review list
    </div>
  </div>
</div>

<div [hidden]="totalReviews < 1" class="grow z-10 bg-repeat m-0 font-arcade flex-row justify-center items-center tracking-wider mt-6">
  <div class="pixel-border max-[500px]:w-full w-11/12 h-fit py-[6px] m-auto">
    <div class="px-1 overflow-x-auto">
      <table mat-table [dataSource]="this.dataSource" matSort (matSortChange)="sortData()" class="appearance-none bg-black">
        <ng-container matColumnDef="gameTitle">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="gameTitle" mat-header-cell *matHeaderCellDef> Game </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element"> {{element.gameTitle}} </td>
        </ng-container>
      
        <ng-container matColumnDef="content">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="content" mat-header-cell *matHeaderCellDef> Content </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>
      
        <ng-container matColumnDef="postDate">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="postDate" mat-header-cell *matHeaderCellDef> Post date </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element"> {{formatDate(element.postDate)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="score">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="score" mat-header-cell *matHeaderCellDef> Score </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th class="max-[590px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" *matHeaderCellDef> Options </th>
          <td class="max-[590px]:hidden synthwaveBg bg-repeat  border-2 border-white" *matCellDef="let element">
            <button class="w-full text-white font-arcade text-center text-base pinkTextShadow" (click)="openEditReviewDialog(element)">Edit</button>
            <button class="w-full text-white font-arcade text-center text-base pinkTextShadow" (click)="openReviewDeletionConfirmationDialog(element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div [hidden]="totalReviews < 6">
      <mat-paginator
        class="font-arcade text-base pinkTextShadowWide synthwaveBg bg-repeat text-white appearance-none"
        #paginator
        [length]="totalReviews"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<!-- No Reviews Message -->
<div *ngIf="totalReviews < 1" class="max-w-[500px] m-auto pixel-border px-[6px]">
  <div class="py-[6px]">
    <p class="text-center text-white bg-[#1A1A1A] py-2 px-0 font-arcade">No reviews to show</p>
  </div>
</div>
