
<app-popup-dialog
  class="max-w-[500px]"
  [dialogTitle]="this.data.editing ? 'Editing review': 'Adding a review'"
  [noSubmitButton]="false"
  [submitDisabled]="!userReviewForm.valid"
  (submitted)="onSubmit()"
>
  <form [formGroup]="userReviewForm">
    <div class="mt-2">
      <label>Content</label><br>
      <textarea class="w-full text-black px-2 min-h-24" formControlName="content"></textarea>
    </div>

    <div class="mt-2">
      <label>Score</label><br>
      <input class="w-full text-black p-2" type="number" min="1" max="10" matInput placeholder="Input score" formControlName="score" required/>
    </div>
  </form>
</app-popup-dialog>
