
<div class="form-container">
    <form [formGroup]="addingGameForm" (ngSubmit)="onSubmit()">

        <div class="field-container">
            <p>{{this.listTitle}}</p>

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Input the game's title" formControlName="title" required/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Developer</mat-label>
                <input matInput placeholder="Input the game's developer" formControlName="developer" required/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Publisher</mat-label>
                <input matInput placeholder="Input the game's publisher" formControlName="publisher" required/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Release date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="releaseDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Release status</mat-label>
                <mat-select formControlName="releaseStatus">
                    <mat-option>--</mat-option>
                    @for (status of releaseStatuses; track status) {
                        <mat-option [value]="status">{{status.statusName}}</mat-option>
                    }
                </mat-select>
                @if (isReleaseStatusInvalid()) {
                    <mat-error>Please choose a release status</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tags</mat-label>
                <mat-select formControlName="tags" multiple required>
                  @for (tag of tagsList; track tag) {
                    <mat-option [value]="tag">{{tag.tagName}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Users score</mat-label>
                <input type="number" matInput placeholder="Input the game's users score" formControlName="usersScore" required/>
            </mat-form-field>

            <div class="centered-container">
                <button mat-stroked-button (click)="cancel()">Cancel</button>
                <button mat-stroked-button [disabled]="!addingGameForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
