
<app-popup-dialog
  class="max-w-[500px]"
  dialogTitle="Confirm account deletion"
  dialogContent="Are you sure you want to delete your account?"
  [submitColor]="''"
  [noSubmitButton]="false"
  [submitDisabled]="!deleteAccountForm.valid"
  (submitted)="onConfirm()"
>
  <form [formGroup]="deleteAccountForm" (ngSubmit)="onConfirm()">
    <!-- Password Input Field -->
    <div class="mt-1">
      <label>Confirm your password</label>
      <div class="flex items-center bg-white h-[28px]">
        <input class="px-1 h-full text-black flex-grow w-12" [type]="hidePassword() ? 'password' : 'text'" formControlName="currentPassword" required />

        <button
          class="px-1 flex items-center justify-center text-black h-full"
          matSuffix
          type="button"
          (mousedown)="hidePasswordClickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
  </form>
</app-popup-dialog>
