
<div class="w-fit m-auto mb-6 pixel-border py-[6px] px-[6px]">
  <div class="synthwaveBg py-2 px-6">
    <div class="text-center bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text-4xl font-arcade">
      User list
    </div>
  </div>
</div>

<!-- Filters Section -->
<div class="pixel-border w-11/12 h-fit py-[6px] m-auto mb-8 px-[6px]">
  <div class="synthwaveBg bg-repeat text-white p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <form [formGroup]="filterForm" class="contents">
        <!-- Is Banned Filter -->
        <mat-form-field class="w-full text-white">
          <mat-label>Is banned</mat-label>
          <mat-select (selectionChange)="onBannedFilterChange($event)" formControlName="isBanned">
            <mat-option>-</mat-option>
            <mat-option value="1">True</mat-option>
            <mat-option value="0">False</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Is Deleted Filter -->
        <mat-form-field class="w-full text-white">
          <mat-label>Is deleted</mat-label>
          <mat-select (selectionChange)="onDeletedFilterChange($event)" formControlName="isDeleted">
            <mat-option>-</mat-option>
            <mat-option value="1">True</mat-option>
            <mat-option value="0">False</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Roles Filter -->
        <mat-form-field class="w-full text-white">
          <mat-label>Roles</mat-label>
          <mat-select (selectionChange)="onRolesFilterChange($event)" multiple formControlName="roles">
            <mat-option value="1">Admin</mat-option>
            <mat-option value="2">Critic</mat-option>
            <mat-option value="3">User</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Join Date Range Filter -->
        <mat-form-field class="w-full text-white">
          <mat-label>Join date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
            <input matStartDate placeholder="From" formControlName="start" (dateChange)="onStartDateChange($event)">
            <input matEndDate placeholder="To" formControlName="end" (dateChange)="onEndDateChange($event)">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
        <!-- Search Filter -->
        <mat-form-field class="w-full text-white">
          <mat-label>Search</mat-label>
          <input matInput formControlName="search" #searchInput>
        </mat-form-field>
      </form>
    </div>

    <!-- Clear Filters Button -->
    <div class="absolute bottom-4 right-4">
      <button class="synthwaveButton" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
</div>

<div class="grow z-10 bg-repeat m-0 font-arcade flex-row justify-center items-center tracking-wider">
  <!-- Users Table Section -->
  <div class="pixel-border max-[500px]:w-full w-11/12 h-fit py-[6px] m-auto">
    <div class="px-1 overflow-x-auto">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="loadUsers()" class="appearance-none bg-black">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="id" *matHeaderCellDef>
            Id
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="username" *matHeaderCellDef>
            Username
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.username}}
          </td>
        </ng-container>

        <!-- Nickname Column -->
        <ng-container matColumnDef="nickname">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="nickname" *matHeaderCellDef>
            Nickname
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            <a class="text-cyan-400 hover:text-cyan-300" [routerLink]="'/profile/' + element.nickname">{{element.nickname}}</a>
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="email" *matHeaderCellDef>
            Email
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.email}}
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-2 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="description" *matHeaderCellDef>
            Description
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.description ? element.description : "-"}}
          </td>
        </ng-container>

        <!-- Last Action Date Column -->
        <ng-container matColumnDef="lastActionDate">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="lastActionDate" *matHeaderCellDef>
            Last action
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.lastActionDate | date: 'dd MMMM yyyy'}}
          </td>
        </ng-container>

        <!-- Join Date Column -->
        <ng-container matColumnDef="joinDate">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="joinDate" *matHeaderCellDef>
            Join date
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.joinDate | date: 'dd MMMM yyyy'}}
          </td>
        </ng-container>

        <!-- Is Banned Column -->
        <ng-container matColumnDef="isBanned">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="isBanned" *matHeaderCellDef>
            Is banned
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.isBanned}}
          </td>
        </ng-container>

        <!-- Is Deleted Column -->
        <ng-container matColumnDef="isDeleted">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="isDeleted" *matHeaderCellDef>
            Is deleted
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{element.isDeleted}}
          </td>
        </ng-container>

        <!-- Roles Column -->
        <ng-container matColumnDef="roles">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="roles" *matHeaderCellDef>
            Roles
          </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade text-center text-sm pinkTextShadow border-2 border-white" *matCellDef="let element">
            {{ parseRoles(element.roles) }} </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="options">
          <th class="synthwaveBg bg-repeat text-white font-arcade text-center text-base pinkTextShadowWide px-1 border-r-2 border-l-2 border-b-2 border-white" *matHeaderCellDef>
            Options
          </th>
          <td class="synthwaveBg bg-repeat border-2 border-white" *matCellDef="let element">

            <button
              class="w-full text-white font-arcade text-center text-sm pinkTextShadow"
              (click)="openProfile(element)">
              Profile
            </button>

            <button
              class="w-full text-white font-arcade text-center text-sm pinkTextShadow"
              *ngIf="isAdmin"
              (click)="openUserReviews(element)">
              Reviews
            </button>

            <button
              class="w-full text-white font-arcade text-center text-sm pinkTextShadow"
              *ngIf="isAdmin && !element.isBanned"
              (click)="userService.openBanDialog(element)">
              Ban
            </button>

            <button
              class="w-full text-white font-arcade text-center text-sm pinkTextShadow"
              *ngIf="isAdmin && element.isBanned"
              (click)="userService.openUnbanDialog(element)">
              Unban
            </button>
          </td>
        </ng-container>

        <!-- Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- Paginator -->
    <div [hidden]="totalUsers < 6">
      <mat-paginator class="font-arcade text-base pinkTextShadowWide synthwaveBg bg-repeat text-white appearance-none"
        [length]="totalUsers"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
