
<div class="container">
    <h3>{{this.game.title}}</h3>
    <p>Developer: {{this.game.developer}}</p>
    <p>Publisher: {{this.game.publisher}}</p>
    <p>Release date: {{formatDate(this.game.releaseDate)}}</p>
    <p>Release status: {{this.game.releaseStatus?.statusName}}</p>
    <p>Description: {{this.game.description}}</p>
    <p>Users score: {{this.game.usersScore}}</p>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let tag of game.tags">
          {{ tag.tagName }}
        </div>
    </div>


    <h3>Reviews</h3>
    <div class="review-container">
        <div class="review-item" *ngFor="let review of reviewList">
          <p>{{ review.userUsername }}, score: {{ review.score }}, date: {{ formatDate(review.postDate) }}</p>
          <p>{{ review.content }}</p>
          <p>Likes: {{ review.positiveRating }}</p>
          <p>Dislikes: {{ review.negativeRating }}</p>
          <button mat-stroked-button (click)="openReviewDeletionConfirmationDialog(review)">Delete review</button>
          <button mat-stroked-button (click)="editReview(review)">Edit review</button>

          <mat-button-toggle-group name="likeDislike" [value]="review.userLiked ? 1 : review.userLiked === false ? 0 : null" (change)="onToggleChange(review, $event.value)">
            <mat-button-toggle value="1">Like</mat-button-toggle>
            <mat-button-toggle value="0">Dislike</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
    </div>

    <button id="gotoreview-button" mat-stroked-button (click)="routeToAddNewReview()">Add review</button>
    <button id="goback-button" mat-stroked-button (click)="goBack()">Go back</button>
</div>
