
<toaster-container></toaster-container>

<header class="header">
  <div class="container">
    <h1 class="logo">Gamerev</h1>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active">Homepage</a></li>
        <li class="nav-item"><a routerLink="/games" routerLinkActive="active">Games</a></li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()"><a routerLink="/users" routerLinkActive="active">Users</a></li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()"><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()"><a routerLink="/library" routerLinkActive="active">Library</a></li>

        <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="grow flex flex-col justify-between">
  <router-outlet class="flex flex-col justify-between"></router-outlet>
</main>

<footer class="footer z-20">
  <p>&copy; 2024 GAMEREV</p>
</footer>