
<div *ngIf="this.criticReview != undefined">
  <h3 *ngIf="this.criticReview.user">Critic review by {{ this.criticReview.user.nickname }}</h3>

  <div class="review-item">
    <p>Date: {{ formatDate(this.criticReview.postDate) }}</p>
    <p>Score: {{ this.criticReview.score }}</p>
    <p [innerHTML]="this.criticReview.content"></p>
  </div>
</div>

<div *ngIf="this.canAddCriticReview()">
  <div *ngIf="!this.criticReview">
    <p>No critic review found</p>
  </div>
  
  <button id="gotoreview-button" type="button" mat-stroked-button (click)="routeToAddNewCriticReview()">Add critic review</button>
</div>

