
<!-- Critic Review Section -->
@if (criticReview !== undefined || (criticReview === undefined && this.canRequestCriticReview())) {
  <div class="p-4 sm:p-6 mx-auto m-4 bg-[#222] border-[2px] border-pink-500 shadow-lg max-w-7xl">
    @if (criticReview !== undefined) {
      <div>
        @if (criticReview.user) {
          <h3 class="text-lg font-bold text-center mb-2">Critic review by {{ this.criticReview.user.nickname }}</h3>
        }
        <!-- Critic Review Content -->
        <div class="review-item">
          <p>Date: {{ formatDateArray(this.criticReview.postDate) }}</p>
          <p class="text-xl mt-2">Score: {{ this.criticReview.score }}</p>
          <div class="overflow-y-auto max-h-[400px] sm:max-h-[600px] my-4">
            <quill-view class="pt-4 mt-4 noQuillViewPadding" [content]="this.criticReview.content"></quill-view>
          </div>
        </div>
      </div>
    }
    <!-- No Critic Review -->
    @if (criticReview === undefined && this.canRequestCriticReview()) {
      <div>
        <div class="flex justify-center">
          @if (!this.criticReview) {
            <div>
              <p class="text-white">No critic review found</p>
            </div>
          }
        </div>
        <!-- Request Critic Review Button -->
        <button class="my-3 synthwaveButton" (click)="openRequestCriticReviewDialog()">Request critic review</button>
      </div>
    }
  </div>
}
