
<div class="container text-white synthwaveBg p-4 font-arcade m-auto text-center pixel-border max-[500px]:w-full">
  <div>
    <!-- Go Back Button -->
    <div class="absolute left-6 top-6">
      <button class="synthwaveButton" type="button" (click)="goBack()">Go back</button>
    </div>

    <!-- Game Title -->
    <div class="text-4xl font-bold mt-4 mb-6 pinkTextShadow">{{this.game.title}}</div>

    <!-- Actions -->
    <div class="absolute right-6 top-6 flex flex-col gap-3 items-end" *ngIf="this.authService.isAuthenticated()">
      <button
        class="synthwaveButton"
        (click)="openLibraryFormDialog()">
        Add to Library
      </button>

      <button
        class="synthwaveButton"
        *ngIf="this.authService.isAdmin()"
        (click)="openGameDeletionConfirmationDialog()">
        Delete
      </button>

      <button
        class="synthwaveButton"
        *ngIf="this.authService.isAdmin()"
        (click)="openEditGameDialog()">
        Edit
      </button>
    </div>

    <!-- Game Info Section -->
    <div class="p-6 m-4 bg-gradient-to-r from-purple-700 to-indigo-700 border-[2px] border-pink-500 shadow-lg max-w-4xl mx-auto">
      <div class="grid grid-cols-2 gap-4 text-left">
        <div><strong>Developer:</strong> {{this.game.developer}}</div>
        <div><strong>Publisher:</strong> {{this.game.publisher}}</div>
        <div><strong>Release date:</strong> {{formatDate(this.game.releaseDate)}}</div>
        <div><strong>Release status:</strong> {{this.game.releaseStatus}}</div>
      </div>
      <div class="text-lg mt-4 text-center font-semibold">{{this.usersScoreText}}</div>
    </div>

    <!-- Game Description -->
    <div class="px-6 py-8 my-4 bg-[#333] border-[2px] border-[#ff00ff] shadow-lg text-lg leading-relaxed max-w-4xl mx-auto">
      {{this.game.description}}
    </div>

    <!-- Tags Section -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-4 max-w-4xl mx-auto">
      <div class="px-3 py-1 border-[2px] border-[#ff00ff] bg-[#212121] text-base" *ngFor="let tag of game.tags">
        {{ tag.tagName }}
      </div>
    </div>
    
    <div *ngIf="gameTitle">
      <!-- Critic Review Section -->
      <app-gameinfo-critic-review [gameTitle]="gameTitle"></app-gameinfo-critic-review>

      <!-- User Review Section -->
      <div class="p-4 mt-4 mb-4 bg-[#222] border-[2px] border-pink-500 shadow-lg">
        <app-gameinfo-review-list
          [gameTitle]="gameTitle"
          [game]="game"
          (usersScoreUpdated)="updateUsersScoreText($event)">
        </app-gameinfo-review-list>
      </div>
    </div>

  </div>
</div>
