
<div class="container text-white synthwaveBg p-4 font-arcade m-auto text-center pixel-border max-[500px]:w-full">
  <div>
    <!-- Container for Go Back and Add to Library Buttons on Small Screens -->
    <div class="flex justify-between items-center w-full lg:hidden mb-6">
      <button class="synthwaveButton" type="button" (click)="goBack()">Go back</button>
      <button class="synthwaveButton" (click)="openLibraryFormDialog()">Add to Library</button>
      @if (this.authService.isAdmin()) {
        <button class="synthwaveButton" (click)="toggleSmallScreenMenu = !toggleSmallScreenMenu">☰</button>
      }
    </div>

    <!-- Collapsible Dropdown Menu for Small Screens -->
    @if (toggleSmallScreenMenu && this.authService.isAdmin()) {
      <div class="flex flex-col items-end gap-3 mt-2 lg:hidden">
        <button class="synthwaveButton" (click)="openGameDeletionConfirmationDialog()">Delete</button>
        <button class="synthwaveButton" (click)="openEditGameDialog()">Edit</button>
      </div>
    }

    <!-- Go Back Button for Medium and Larger Screens -->
    <div class="lg:absolute lg:left-6 lg:top-6 flex justify-start hidden lg:flex">
      <button class="synthwaveButton" type="button" (click)="goBack()">Go back</button>
    </div>

    <!-- Actions on the Right for Medium and Larger Screens -->
    @if (this.authService.isAuthenticated()) {
      <div class="absolute right-6 top-6 flex flex-col gap-3 items-end invisible lg:visible">
        <button class="synthwaveButton" (click)="openLibraryFormDialog()">Add to Library</button>

        @if (this.authService.isAdmin()) {
          <button class="synthwaveButton" (click)="openGameDeletionConfirmationDialog()">Delete</button>
          <button class="synthwaveButton" (click)="openEditGameDialog()">Edit</button>
        }
      </div>
    }

    <!-- Game Title -->
    <div class="text-4xl font-bold mt-3 mb-6 pinkTextShadow">{{this.game.title}}</div>

    <!-- Game Info Section -->
    <div class="p-6 m-4 bg-gradient-to-r from-purple-700 to-indigo-700 border-[2px] border-pink-500 shadow-lg max-w-4xl mx-auto">
      <div class="grid grid-cols-1 text-left">
        <div><strong>Developer:</strong> {{this.game.developer}}</div>
        <div><strong>Publisher:</strong> {{this.game.publisher}}</div>
        <div><strong>Release date:</strong> {{formatDate(this.game.releaseDate)}}</div>
        <div><strong>Release status:</strong> {{this.game.releaseStatus}}</div>
      </div>
      <div class="text-base mt-4 text-center font-semibold">{{this.usersScoreText}}</div>
    </div>

    <!-- Game Description -->
    <div class="px-4 sm:px-6 py-6 sm:py-8 my-4 bg-[#333] border-[2px] border-[#ff00ff] shadow-lg text-base sm:text-lg leading-relaxed max-w-4xl mx-auto">
      {{this.game.description}}
    </div>

    <!-- Tags Section -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-4 max-w-4xl mx-auto">
      @for (tag of game.tags; track tag.id) {
        <div class="px-3 py-1 border-[2px] border-[#ff00ff] bg-[#212121] text-base">
          {{ tag.tagName }}
        </div>
      }
    </div>

    @if (gameTitle) {
      <!-- Critic Review Section -->
      <app-gameinfo-critic-review [gameTitle]="gameTitle"></app-gameinfo-critic-review>

      <!-- User Review Section -->
      <div class="p-2 mt-4 sm:p-4 md:m-4 bg-[#222] border-[2px] border-pink-500 shadow-lg">
        <app-gameinfo-review-list
          [gameTitle]="gameTitle"
          [game]="game"
          (usersScoreUpdated)="updateUsersScoreText($event)">
        </app-gameinfo-review-list>
      </div>
    }
  </div>
</div>
