
<app-popup-dialog
  class="max-w-[500px]"
  dialogTitle="Comment editing"
  [submitColor]="''"
  [noSubmitButton]="false"
  [submitDisabled]="!commentForm.valid"
  (submitted)="onConfirm()"
  >
  <form [formGroup]="commentForm">
    <div class="mt-2 mb-1">
      <label for="description" class="w-full">Content</label><br>

      <quill-editor
        class="white-quill-editor w-full text-black bg-white h-48"
        formControlName="content"
        [modules]="{ toolbar: quillToolbarOptions }">
      </quill-editor>

      @if (commentForm.get('content')?.hasError('minLength')) {
        <div class="p-2 text-red-600">
          Content must be at least {{ minLength }} characters long.
        </div>
      }
    </div>
  </form>
</app-popup-dialog>
