
<div *ngIf="!isSingleForum; else forumPostListTemplate">
  <nav class="breadcrumb">
    <ng-container *ngFor="let segment of path; let i = index">
      <a *ngIf="i < path.length - 1" [href]="'/forum/' + segment.id" class="breadcrumb-link cursor-pointer"><b>{{ segment.forumName }}</b></a>
      <span *ngIf="i < path.length - 1"> > </span>
      <span *ngIf="i === path.length - 1">{{ segment.forumName }}</span>
    </ng-container>
  </nav>

  <div *ngIf="currentForum" [hidden]="noSubForums" class="container">
    <!-- Main Forum as the header -->
    <table class="forum-table">
      <thead>
        <tr>
          <th colspan="3">
            <h2><b>{{ currentForum.forumName }}</b></h2>
            <p>{{ currentForum.description }}</p>
          </th>
        </tr>
      </thead>

      <tbody>
        <!-- Subforum rows -->
        <tr *ngFor="let subforum of subForumList">
          <td>
            <a (click)="navigateToSubforum(subforum.id)" class="subforum-link cursor-pointer"> <b>{{ subforum.forumName }}</b> </a>
            <p>{{ subforum.description }}</p>
          </td>
          <td>
            {{ subforum.postCount }} Post(s)
          </td>
          <td>
            <p>Last post on {{ formatDateTime(subforum.lastPostDate) }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator
    #paginator
    [length]="totalSubforums"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>

<ng-template #forumPostListTemplate>
  <app-forum-post-list [currentForum]="currentForum"></app-forum-post-list>
</ng-template>
