<nav class="breadcrumb flex space-x-2 text-sm mb-4">
  <ng-container *ngFor="let segment of path; let i = index">
    <a *ngIf="i < path.length - 1" [href]="'/forum/' + segment.id" class="breadcrumb-link text-blue-500 cursor-pointer font-bold">{{ segment.forumName }}</a>
    <span *ngIf="i < path.length - 1">></span>
    <span *ngIf="i === path.length - 1" class="font-bold">{{ segment.forumName }}</span>
  </ng-container>
</nav>

<div class="post-page container mx-auto max-w-[800px] p-[20px] py-8">
  <!-- Original Post -->
  <div class="original-post bg-gray-100 border border-gray-300 p-6 rounded-lg mb-8" *ngIf="post">
    <div class="post-header flex justify-between items-center mb-4">
      <div class="flex items-center space-x-4">
        <!-- Author Image -->
        <img [src]="authorProfilePic || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541'" alt="Author Image" class="w-12 h-12 rounded-full border border-gray-300 object-cover">
        
        <div>
          <h2 class="text-xl font-bold mb-1">{{ post.title }}</h2>
          <div class="post-info text-gray-600 text-sm">
            <span>By {{ post.author?.nickname }} on {{ formatDateTimeArray(post.postDate) }}</span>
          </div>
        </div>
      </div>
      
      <div class="post-actions" *ngIf="canManagePost(post)">
        <button mat-icon-button (click)="openEditPostDialog(post)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeletePostDialog(post)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="post-body mt-4">
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Post image" class="h-72 border border-gray-300 object-cover mt-4 mb-4">
      <p class="text-gray-800">{{ post.content }}</p>
    </div>
  </div>

  <!-- Replies Section -->
  <div class="comments-section">
    <div *ngFor="let comment of commentsList; let i = index" class="comment bg-white p-6 border border-gray-300 rounded-lg mb-4">
      <div class="flex items-start space-x-4">
        <!-- Commenter Image -->
        <img [src]="comment.author.nickname == post?.author?.nickname ? authorProfilePic: (comment.author.picture || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541')" alt="Commenter profile picture" class="w-10 h-10 rounded-full border border-gray-300 object-cover">

        <div class="flex-1">
          <div class="comment-header flex justify-between items-center text-sm text-gray-600 mb-2">
            <span><strong>{{ comment.author.nickname + (comment.author.nickname == post?.author?.nickname ? " (OP)": "") }}</strong> replied on {{ formatDateTimeArray(comment.postDate) }}</span>
            <div class="comment-actions flex space-x-4">
              <button *ngIf="canEditComment(comment)" (click)="openEditCommentDialog(comment)" class="text-blue-500 hover:text-blue-700">Edit</button>
              <button *ngIf="canDeleteComment(comment)" (click)="openDeleteCommentDialog(comment)" class="text-red-500 hover:text-red-700">Delete</button>
            </div>
          </div>
          <div class="comment-body text-gray-800">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginator -->
  <div [hidden]="totalComments < 5">
    <mat-paginator
      #paginator
      [length]="totalComments"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>

  <!-- Add Comment -->
  <div class="add-comment-section bg-gray-100 border border-gray-300 p-6 rounded-lg mb-8">
    <div class="post-header">
      <h2 class="text-xl font-bold mb-2">Add a Comment</h2>
    </div>
    <div class="post-body mt-4">
      <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
        <mat-form-field class="w-full mb-4">
          <textarea matInput [placeholder]="authService.isAuthenticated() ? 'Write your comment here...' : 'Log in to be able to post a comment'" formControlName="content" rows="4"></textarea>
        </mat-form-field>

        <div *ngIf="commentForm.get('content')?.hasError('minLength')" class="p-2 text-red-600">
          Content must be at least {{ minLength }} characters long.
        </div>

        <div class="submit-button">
          <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid || !authService.isAuthenticated()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
