
.forum-table {
  width: 100%;
  border-collapse: collapse;
}

.forum-table th,
.forum-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.forum-table thead {
  background-color: #f0f0f0;
}

.forum-table thead th {
  text-align: left;
  font-weight: normal;
}

.forum-table tbody tr:hover {
  background-color: #f9f9f9;
}
