
<!-- Forum Posts Table -->
<div id="forum-posts" class="bg-[#222222] shadow-lg overflow-hidden border border-[#00CFFF] p-6">
  <div class="flex items-center justify-between mb-4">
    <!-- Subforums Heading -->
    <h2 class="text-2xl min-[450px]:text-3xl font-bold text-[#E5E5E5] mr-6">Posts</h2>

    <!-- Filters Section -->
    <div [hidden]="hideFilters && !isFilterExpanded">
      <form [formGroup]="filterForm" [ngClass]="(hideFilters && isFilterExpanded) ? 'flex flex-col space-y-4 fixed z-60 bg-[#222222] p-6 max-w-fit mt-8 right-6 top-6 border-2' : 'flex space-x-4 items-start'" id="posts-filter-form">
        <!-- Release Date Range -->
        <div class="flex flex-col space-y-1 small-date-picker">
          <label class="text-sm text-white">Post date</label>
          <mat-form-field>
            <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
              <input matStartDate formControlName="start" placeholder="From" (dateChange)="onStartDateChange($event)">
              <input matEndDate formControlName="end" placeholder="To" (dateChange)="onEndDateChange($event)">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <!-- Search Filter -->
        <div class="flex flex-col space-y-1 w-48">
          <label class="text-sm text-white">Search</label>
          <input class="text-sm w-full bg-white text-black noTextShadow h-7 p-1" formControlName="search" #searchInput>
        </div>

        <!-- Clear Button -->
        <div class="flex flex-col space-y-1">
          <label class="text-sm text-white">Clear</label>
          <button class="bg-blue-500 text-white flex items-center justify-center py-2 px-3 hover:bg-blue-600" (click)="clearFilters()">
            <i class="material-icons">close</i>
          </button>
        </div>
      </form>
    </div>

    <button [hidden]="!hideFilters" id="posts-filters-menu-button" mat-icon-button aria-label="Subforum filters" (click)="toggleFilterPanel()">
      <mat-icon>filter_alt</mat-icon>
    </button>

    @if (isModerator()) {
      <p class="text-[#fcba03] text-lg font-bold absolute left-1/2 transform -translate-x-1/2">
        You are a moderator of this forum
      </p>
    }
  </div>

  <div class="overflow-x-auto">
    <table class="forum-posts-table w-full table-auto border-collapse text-sm md:text-base">
      <thead class="bg-[#1A1A1A] text-[#E5E5E5]">
        <tr>
          <th class="p-2 sm:p-4 border-b border-[#00CFFF]">Post</th>
          <th class="p-2 sm:p-4 border-b border-[#00CFFF] hidden md:table-cell">Author</th>
          <th class="p-2 sm:p-4 border-b border-[#00CFFF]">Post date</th>
          <th class="p-2 sm:p-4 border-b border-[#00CFFF]">Replies</th>
          <th class="p-2 sm:p-4 border-b border-[#00CFFF] hidden md:table-cell">Last reply</th>
          @if (canManageAnyPost() || isModerator()) {
            <th class="p-2 sm:p-4 border-b border-[#00CFFF] hidden lg:table-cell">Actions</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (post of postList; track post; let i = $index) {
          <tr class="hover:bg-[#333333]">
            <!-- Post picture and title -->
            <td class="p-2 sm:p-4 border-b border-[#00CFFF]">
              <div style="display: table;">
                <div style="display: table-cell; vertical-align: middle;">
                  @if (post.picture) {
                    <img
                      (click)="navigateToPost(post.id)"
                      [src]="post.picture"
                      alt="Post image"
                      class="max-w-16 w-16 h-16 object-cover rounded cursor-pointer">
                  }
                </div>
                <div style="display: table-cell; vertical-align: middle; padding-left: 10px;">
                  <a (click)="navigateToPost(post.id)" class="text-cyan-400 hover:text-cyan-300 cursor-pointer font-semibold">
                    {{ post.title }}
                  </a>
                </div>
              </div>

              <!-- Actions when the screen is small -->
              @if (canManageAnyPost() || isModerator()) {
                <div class="pt-2 justify-center table-cell lg:hidden">
                  @if (canManagePost(post)) {
                    <button class="bg-yellow-500 text-white px-3 pb-1 pt-2 hover:bg-yellow-600" (click)="openEditPostDialog(post)">
                      <i class="material-icons">edit</i>
                    </button>
                  }
                  <button class="bg-red-500 text-white px-3 pb-1 pt-2 hover:bg-red-600 ml-2" (click)="openDeletePostDialog(post)">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              }
            </td>
            
            <!-- Clickable author's nickname (visible when screen is big) -->
            <td class="p-2 sm:p-4 border-b border-[#00CFFF] hidden md:table-cell">
              <a class="text-cyan-400 hover:text-cyan-300" [routerLink]="'/profile/' + post.author?.nickname">{{ post.author?.nickname }}</a>
            </td>

            <!-- Post date and nickname when the screen is small -->
            <td class="p-2 sm:p-4 border-b border-[#00CFFF]">
              {{ formatDateTimeArray(post.postDate) }}
              <div class="table-cell md:hidden">by <a class="text-cyan-400 hover:text-cyan-300" [routerLink]="'/profile/' + post.author?.nickname">{{ post.author?.nickname }}</a></div>
            </td>
            
            <!-- Comment count and last response when the screen is small -->
            <td class="p-2 sm:p-4 border-b border-[#00CFFF]">
              {{ post.commentCount }} replies@if (post.lastResponseDate && post.commentCount && post.commentCount > 0) {
              , last on {{ formatDateTimeArray(post.lastResponseDate) }}
            }
          </td>

          <!-- Last reply (visible when screen is big) -->
          <td class="p-2 sm:p-4 border-b border-[#00CFFF] hidden md:table-cell">
            {{ (post.lastResponseDate && post.commentCount && post.commentCount > 0) ? formatDateTimeArray(post.lastResponseDate) : '-' }}
          </td>
          
          <!-- Post actions - edit and delete (visible when screen is big) -->
          @if (canManagePost(post) || isModerator()) {
            <td class="pl-2 border-b border-[#00CFFF] hidden lg:table-cell">
              <div class="flex flex-wrap justify-center gap-2">
                @if (canManagePost(post)) {
                  <button class="bg-yellow-500 text-white px-3 pb-1 pt-2 hover:bg-yellow-600" (click)="openEditPostDialog(post)">
                    <i class="material-icons">edit</i>
                  </button>
                }
                <button class="bg-red-500 text-white px-3 pb-1 pt-2 hover:bg-red-600" (click)="openDeletePostDialog(post)">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </td>
          }
        </tr>
      }

      @if (totalPosts == 0) {
        <tr>
          <td class="p-4 border border-gray-300 text-center" colspan="7">No posts yet</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Add new post -->
<div class="mt-6">
  @if (authService.isAuthenticated()) {
    <button class="synthwaveButton" (click)="openNewPostDialog()">Add new post</button>
  }
</div>

<!-- Paginator -->
<div [hidden]="totalPosts < 6" class="mt-6 compactPaginator">
  <mat-paginator
    class="font-arcade text-base pinkTextShadowWide forumPaginator bg-repeat text-white"
    #paginator
    [length]="totalPosts"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
