
<nav class="breadcrumb">
  <ng-container *ngFor="let segment of path; let i = index">
    <a *ngIf="i < path.length - 1" [href]="'/forum/' + segment.id" class="breadcrumb-link cursor-pointer"><b>{{ segment.forumName }}</b></a>
    <span *ngIf="i < path.length - 1"> > </span>
    <span *ngIf="i === path.length - 1">{{ segment.forumName }}</span>
  </ng-container>
</nav>

<div class="forum-page container">
  <!-- Forum Header -->
  <header class="forum-header">
    <h1>{{ currentForum?.forumName }}</h1>
    <p>description</p>
  </header>

  <!-- Forum Posts Table -->
  <div class="forum-posts">
    <table class="forum-posts-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Post date</th>
          <th>Replies</th>
          <th>Last Post</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let post of postList; let i = index">
          <td>
            <a (click)="navigateToPost(post.id)" class="subforum-link cursor-pointer"> <strong>{{ post.title }}</strong> </a>
          </td>
          <td>
            <div>{{ post.author.nickname }}</div>
          </td>
          <td>
            <div>{{ formatDateTime(post.postDate) }}</div>
          </td>
          <td>
            <div>{{ post.commentCount }}</div>
          </td>
          <td>
            <div>{{ post.lastResponseDate ? formatDateTime(post.lastResponseDate) : '-' }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator
    #paginator
    [length]="totalPosts"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
