
<div class="pixel-border max-[900px]:w-[390px] min-[900px]:w-5/6 py-[6px] m-auto max-w-[1200px] my-10 text-base flex neonAtSymbols bg-cover bg-left bg-no-repeat">
  <div class="px-8 py-4 h-full w-fit ml-[6px] z-0 flex flex-col">
    <h3 class="text-xl pinkTextShadow">Change email</h3>

    <form autocomplete="off" [formGroup]="changeEmailForm" (ngSubmit)="onSubmitEmailChange()">
      <div class="mt-2">
        <label class="pinkTextShadow">Enter new email</label>
        <div class="flex items-center w-full bg-white h-[28px]">
          <input class="px-1 h-full text-black" placeholder="pat@example.com" formControlName="email" (blur)="updateEmailErrorMessage()" required/>
        </div>
      </div>

      <!-- No current password typed error -->
      <mat-error *ngIf="isEmailInvalid()" class="font-arcade text-red-600 font-bold">
        {{emailErrorMessage()}}
      </mat-error>

      <div class="mt-2">
        <label class="pinkTextShadow">Enter current password</label>
        <div class="flex items-center w-full bg-white h-[28px]">
          <input class="px-1 h-full text-black" autocomplete="off" [type]="hidePassword() ? 'password' : 'text'" formControlName="currentPassword" required/>

          <button class="px-1 flex items-center text-black"
            matSuffix
            type="button"
            (mousedown)="hidePasswordClickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>

      <!-- No current password typed error -->
      <mat-error *ngIf="changeEmailForm.get('currentPassword')?.touched && changeEmailForm.get('currentPassword')?.hasError('required')" class="font-arcade text-red-600 font-bold">
        Please provide the current password.
      </mat-error>

      <!-- Min length current password error -->
      <mat-error *ngIf="changeEmailForm.get('currentPassword')?.touched && changeEmailForm.get('currentPassword')?.getError('minlength') != undefined" class="font-arcade text-red-600 font-bold">
        Please provide a longer password.
        <div class="m-0 p-0 text-sm">(min {{ changeEmailForm.get('currentPassword')?.getError('minlength')["requiredLength"] }} characters)</div>
      </mat-error>

      <div class="mt-4">
        <button class="text-white pinkTextShadow text-lg disabled:opacity-30" [disabled]="!changeEmailForm.valid">Save email</button>
      </div>
    </form>
  </div>
  <div class="w-full h-full max-[900px]:-ml-20"></div>
</div>
