
<div class="pixel-border max-[900px]:w-[390px] min-[900px]:w-5/6 py-[6px] m-auto max-w-[1200px] my-10 text-base flex neonStarsSymbols bg-cover bg-no-repeat bg-left">
  <div class="px-8 py-4 h-full w-fit ml-[6px] z-0 flex flex-col">
    <h3 class="text-xl pinkTextShadow">Change password</h3>

    <form autocomplete="off" [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPasswordChange()">
      <div class="mt-2">
        <label class="pinkTextShadow">Enter current password</label>
        <div class="flex items-center w-full bg-white h-[28px]">
          <input class="px-1 h-full text-black" [type]="hideCurrentPassword() ? 'password' : 'text'" formControlName="currentPassword" required />
          
          <button
            class="px-1 flex items-center text-black"
            matSuffix
            type="button"
            (mousedown)="hideCurrentPasswordClickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideCurrentPassword()"
          >
            <mat-icon>{{hideCurrentPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>

      <!-- No current password typed error -->
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')" class="font-arcade text-red-600 font-bold">
        Please provide the current password.
      </mat-error>

      <!-- Min length current password error -->
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.getError('minlength') != undefined" class="font-arcade text-red-600 font-bold">
        Please provide a longer password.
        <div class="m-0 p-0 text-sm">(min {{ changePasswordForm.get('currentPassword')?.getError('minlength')["requiredLength"] }} characters)</div>
      </mat-error>

      <div class="mt-2">
        <label class="pinkTextShadow">Enter new password</label>
        
        <div class="flex items-center w-full bg-white h-[28px]">
          <input class="px-1 h-full text-black" [type]="hideNewPassword() ? 'password' : 'text'" formControlName="password" required />
          <button class="px-1 flex items-center text-black"
            matSuffix
            type="button"
            (mousedown)="hideNewPasswordClickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword()"
          >
            <mat-icon>{{hideNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>

      <!-- No current new typed error -->
      <mat-error *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.hasError('required')" class="font-arcade text-red-600 font-bold">
        Please provide a new password.
      </mat-error>

      <!-- Min length new password error -->
      <mat-error *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.hasError('minlength')" class="font-arcade text-red-600 font-bold">
        Please provide a longer password.
        <div class="m-0 p-0 text-sm">(min {{ changePasswordForm.get('password')?.getError('minlength')["requiredLength"] }} characters)</div>
      </mat-error>

      <div class="mt-2">
        <label class="pinkTextShadow">Confirm new password</label>
        <div class="flex items-center w-full bg-white h-[28px]">
          <input class="px-1 h-full text-black" [type]="hideConfirmNewPassword() ? 'password' : 'text'" formControlName="confirmPassword" (blur)="updatePasswordMismatchErrorMessage()" required />
          <button class="px-1 flex items-center text-black"
            matSuffix
            type="button"
            (mousedown)="hideConfirmNewPasswordClickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmNewPassword()"
          >
            <mat-icon>{{hideConfirmNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>

      <!-- No current confirm typed error -->
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('required')" class="font-arcade text-red-600 font-bold">
        Please confirm your password.
      </mat-error>

      <!-- Min length confirm password error -->
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('minlength')" class="font-arcade text-red-600 font-bold">
        Please provide a longer password.
        <div class="m-0 p-0 text-sm">(min {{ changePasswordForm.get('confirmPassword')?.getError('minlength')["requiredLength"] }} characters)</div>
      </mat-error>

      <!-- Password mismatch error -->
      <mat-error *ngIf="isPasswordMismatch()"class="font-arcade text-red-600 font-bold">
        {{passwordMismatchErrorMessage()}}
      </mat-error>

      <div class="mt-4">
        <button class="text-white pinkTextShadow text-lg disabled:opacity-30" [disabled]="!changePasswordForm.valid">Save password</button>
      </div>
    </form>
  </div>
  <div class="w-full h-full max-[900px]:-ml-20"></div>
</div>
