
<div class="grow min-h-lvh z-10 fallingCds bg-repeat m-0 font-arcade py-10 flex-row justify-center items-center">
    <form class="pixel-border max-w-[500px] h-fit p-[6px] m-auto" [formGroup]="addingGameForm" (ngSubmit)="onSubmit()">

        <div class="">
            <p>{{this.listTitle}}</p>

            <div>
                <label>Title</label>
                <input placeholder="Input the game's title" formControlName="title" required/>
            </div>

            <div>
                <label>Developer</label>
                <input  placeholder="Input the game's developer" formControlName="developer" required/>
            </div>

            <div>
                <label>Publisher</label>
                <input  placeholder="Input the game's publisher" formControlName="publisher" required/>
            </div>

            <div>
                <label>Release date</label>
                <input  [matDatepicker]="picker" formControlName="releaseDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <div>
                <label>Release status</label>
                <mat-select formControlName="releaseStatus">
                    <mat-option>--</mat-option>
                    @for (status of releaseStatuses; track status) {
                        <mat-option [value]="status.className">{{status.name}}</mat-option>
                    }
                </mat-select>
                @if (isReleaseStatusInvalid()) {
                    <mat-error>Please choose a release status</mat-error>
                }
            </div>

            <div>
                <label>Tags</label>
                <mat-select formControlName="tags" multiple required>
                  @for (tag of tagsList; track tag) {
                    <mat-option [value]="tag">{{tag.tagName}}</mat-option>
                  }
                </mat-select>
              </div>

            <div>
                <label>Description</label>
                <textarea  formControlName="description"></textarea>
            </div>

            <div class="centered-container">
                <button mat-stroked-button (click)="cancel()">Cancel</button>
                <button mat-stroked-button [disabled]="!addingGameForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
