
<app-popup-dialog
  class="max-w-[500px]"
  [dialogTitle]="listTitle"
  [noSubmitButton]="false"
  [submitDisabled]="!addingGameForm.valid"
  (submitted)="onSubmit()"
>
  <form [formGroup]="addingGameForm">
    <div class="mt-2 mb-1">
      <label class="w-full pinkTextShadowWide">Title</label><br>
      <input class="w-full p-1 px-3 text-black" placeholder="Game's title" formControlName="title" required/>
    </div>

    <div class="mt-2 mb-1">
      <label class="pinkTextShadowWide">Developer</label><br>
      <input class="w-full p-1 px-3 text-black" placeholder="Game's developer" formControlName="developer" required/>
    </div>

    <div class="mt-2 mb-1">
      <label class="pinkTextShadowWide">Publisher</label><br>
      <input class="w-full p-1 px-3 text-black" placeholder="Game's publisher" formControlName="publisher" required/>
    </div>

    <div class="mt-2 mb-1">
      <label class="pinkTextShadowWide">Release date</label><br>
      <div class="bg-white h-7 flex flex-row">
        <input class="w-full h-7 -mt-[0px] p-1 px-3 text-black" placeholder="MM/DD/YYYY" [matDatepicker]="picker" formControlName="releaseDate">
        <mat-datepicker-toggle class="h-10 -mr-2" [for]="picker"></mat-datepicker-toggle>
      </div>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="mt-2 mb-1">
      <label class="pinkTextShadowWide">Release status</label><br>
      <mat-select class="border-2 bg-white text-black noTextShadow" formControlName="releaseStatus">
        <mat-option>-</mat-option>
        @for (status of releaseStatuses; track status) {
          <mat-option [value]="status">{{status.name}}</mat-option>
        }
      </mat-select>
      @if (isReleaseStatusInvalid()) {
        <mat-error class="noTextShadow">Please choose a release status</mat-error>
      }
    </div>

    <div class="mt-2 mb-1">
      <label class="pinkTextShadowWide">Tags</label><br>
      <mat-select class="border-2 bg-white text-black noTextShadow" formControlName="tags" multiple required>
        @for (tag of tagsList; track tag.id) {
          <mat-option [value]="tag">{{tag.tagName}}</mat-option>
        }
      </mat-select>
    </div>

    <div class="mt-2">
      <label class="pinkTextShadowWide">Description</label><br>
      <textarea class="w-full text-black px-2 min-h-32" formControlName="description"></textarea>
    </div>
  </form>
</app-popup-dialog>
