
<div class="w-fit m-auto mb-6 pixel-border py-[6px] px-[6px]">
  <div class="synthwaveBg py-2 px-6">
    <div class="text-center bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text-4xl font-arcade">
      Game List
    </div>
  </div>
</div>

<!-- Filters Section -->
<div class="pixel-border w-11/12 h-fit py-[6px] m-auto mb-8 px-[6px]">
  <div class="synthwaveBg bg-repeat text-white p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <form [formGroup]="filterForm" class="contents">
        <!-- Release Status -->
        <mat-form-field>
          <mat-label>Release status</mat-label>
          <mat-select formControlName="releaseStatuses" (selectionChange)="onReleaseStatusesFilterChange($event)" multiple>
            <mat-option *ngFor="let status of releaseStatuses" [value]="status.className">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tags -->
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <mat-select formControlName="tags" (selectionChange)="onTagFilterChange($event)" multiple>
            <mat-option *ngFor="let tag of tagList" [value]="tag.id">
              {{ tag.tagName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Release Date Range -->
        <mat-form-field>
          <mat-label>Release date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
            <input matStartDate formControlName="start" placeholder="From" (dateChange)="onStartDateChange($event)">
            <input matEndDate formControlName="end" placeholder="To" (dateChange)="onEndDateChange($event)">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <!-- User Score -->
        <div class="bg-[#F5F5F5] grow p-4">
          <label class="text-base text-[rgb(98,98,126)] pr-4">User score</label>
          <mat-slider min="1" max="10" showTickMarks discrete formGroupName="userScore">
            <input formControlName="min" value="1" matSliderStartThumb (valueChange)="onScoreMinFilterChange($event)">
            <input formControlName="max" value="10" matSliderEndThumb (valueChange)="onScoreMaxFilterChange($event)">
          </mat-slider>
        </div>

        <!-- Search -->
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput formControlName="search" #searchInput>
        </mat-form-field>
      </form>
    </div>

    <!-- Clear Filters Button -->
    <div class="mt-4 lg:mt-0 lg:absolute bottom-4 right-4">
      <button class="synthwaveButton" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
</div>

<!-- Grid of Cards Section -->
<div class="game-grid-container w-full px-6 py-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let game of gameList" class="game-card pixel-border p-4 synthwaveBg flex flex-col text-white">
      <div class="game-card-header text-center">
        <h2 class="text-2xl font-arcade">{{ game.title }}</h2>
        <p class="text-lg">{{ game.developer }} / {{ game.publisher }}</p>
        <p class="text-sm">{{ game.releaseDate | date: 'dd MMM yyyy' }}</p>
      </div>

      <div class="game-card-body mt-4">
        <p *ngIf="game.releaseStatus"><strong>Release Status:</strong> {{ findReleaseStatusName(game.releaseStatus) }}</p>
        <p class="mt-2"><strong>Score:</strong> {{ game.usersScore }}</p>
        <p class="mt-2"><strong>Tags:</strong> {{ getTags(game) }}</p>
        <p class="mt-2"><strong>Description:</strong> {{ game.description }}</p>
      </div>

      <div class="game-card-footer flex justify-between mt-4">
        <button class="synthwaveButton" *ngIf="game.title" (click)="routeToViewGame(game.title)">View</button>
        <button *ngIf="authService.isAuthenticated() && authService.hasAnyRole(['Admin', 'Critic'])" class="synthwaveButton" (click)="openEditGameDialog(game)">Edit</button>
        <button *ngIf="authService.isAuthenticated() && authService.hasAnyRole(['Admin', 'Critic'])" class="synthwaveButton" (click)="openGameDeletionConfirmationDialog(game)">Delete</button>
      </div>
    </div>
  </div>

  <!-- Paginator -->
  <div [hidden]="totalGames < 6" class="mt-8">
    <mat-paginator
      class="font-arcade text-base pinkTextShadowWide synthwaveBg bg-repeat text-white appearance-none"
      [length]="totalGames"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
