
<mat-form-field>
  <mat-label>Release status</mat-label>
  <mat-select (selectionChange)="onReleaseStatusesFilterChange($event)" multiple>
    <mat-option *ngFor="let status of releaseStatuses" [value]="status.className">
      {{ status.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Tags</mat-label>
  <mat-select (selectionChange)="onTagFilterChange($event)" multiple>
    <mat-option *ngFor="let tag of tagList" [value]="tag.id">
      {{ tag.tagName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Release date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="From" (dateChange)="onStartDateChange($event)">
    <input matEndDate placeholder="To" (dateChange)="onEndDateChange($event)">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput #searchInput>
</mat-form-field>

<div class="grow min-h-lvh z-10 bg-repeat m-0 font-arcade py-10 flex-row justify-center items-center tracking-wider">
  <div class="pixel-border w-[330px] h-fit py-[6px] m-auto mb-8 px-[6px]" *ngIf="authService.hasAnyRole(['Admin', 'Critic'])">
    <div class="flex justify-center font-arcade h-12 text-2xl bg-black text-white pinkTextShadow">
      <button class="pinkTextShadowWide" (click)="routeToAddNewGame()">Add a new game</button>
    </div>
  </div>
  
  <div class="pixel-border max-[500px]:w-full w-11/12 h-fit py-[6px] m-auto">
    <div class="px-1">
      <table class="appearance-none bg-black" mat-table [dataSource]="dataSource" matSort (matSortChange)="loadGames()" >
        <ng-container matColumnDef="id">
          <th class="hidden" mat-sort-header="id" *matHeaderCellDef> Id </th>
          <td class="hidden" *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <th class="  synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 pt-0 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="title" *matHeaderCellDef> Title </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" *matCellDef="let element">
            <button class="text-white font-arcade text-center text-base pinkTextShadow" (click)="routeToViewGame(element.title)">{{element.title}}</button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="developer">
          <th class="max-[770px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="developer" *matHeaderCellDef> Developer </th>
          <td class="max-[770px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white"   *matCellDef="let element"> {{element.developer}} </td>
        </ng-container>
      
        <ng-container matColumnDef="publisher">
          <th class="max-[1300px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="publisher" *matHeaderCellDef> Publisher </th>
          <td class="max-[1300px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white"   *matCellDef="let element"> {{element.publisher}} </td>
        </ng-container>
      
        <ng-container matColumnDef="releaseDate">
          <th class="max-[1460px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="releaseDate" *matHeaderCellDef> Release date </th>
          <td class="max-[1460px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white"   *matCellDef="let element"> {{element.releaseDate | date: 'dd MMMM yyyy'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="releaseStatus">
          <th class="max-[930px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="releaseStatus" *matHeaderCellDef> Release status </th>
          <td class="max-[930px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white"   *matCellDef="let element"> {{ findReleaseStatusName(element.releaseStatus)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="usersScore">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" mat-sort-header="usersScore" *matHeaderCellDef> Users score </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white"   *matCellDef="let element"> {{element.usersScore}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tags">
          <th class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" *matHeaderCellDef> Tags </th>
          <td class="synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" *matCellDef="let element"> {{getTags(element)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th class="max-[1115px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" *matHeaderCellDef> Description </th>
          <td class="max-[1115px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-base pinkTextShadow border-2 border-white" *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="options">
          <th class="max-[590px]:hidden synthwaveBg bg-repeat text-white font-arcade ml-1 text-center text-lg pinkTextShadowWide px-4 border-r-2 border-l-2 border-b-2 border-white" *matHeaderCellDef> Options </th>
          <td class="max-[590px]:hidden synthwaveBg bg-repeat  border-2 border-white" *matCellDef="let element">
            <button class="w-full text-white font-arcade text-center text-base pinkTextShadow" (click)="routeToViewGame(element.title)">View</button>
            <button class="w-full text-white font-arcade text-center text-base pinkTextShadow" (click)="routeToEditGame(element.title)" *ngIf="authService.hasAnyRole(['Admin', 'Critic'])">Edit</button>
            <button class="w-full text-white font-arcade text-center text-base pinkTextShadow" (click)="openGameDeletionConfirmationDialog(element)" *ngIf="authService.hasAnyRole(['Admin', 'Critic'])">Delete</button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator class="font-arcade text-base pinkTextShadowWide synthwaveBg bg-repeat text-white appearance-none"
      [length]="totalGames"
      [pageSize]="5"
      [pageSizeOptions]="[2, 5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
