
<app-popup-dialog
  class="max-w-[500px]"
  [dialogTitle]="'Report review'"
  [dialogContent]="data.dialogContent"
  [submitColor]="''"
  [noSubmitButton]="false"
  [submitDisabled]="!reportForm.valid"
  (submitted)="onConfirm()"
  >
  <form [formGroup]="reportForm">
    <div class="mt-2 mb-1">
      <label class="w-full pinkTextShadowWide pb-1">Description</label>

      <textarea
        class="w-full text-black px-2 min-h-32 mt-1"
        placeholder="Write report description..."
        matInput
        formControlName="content">
      </textarea>

      @if (reportForm.get('content')?.hasError('minLength')) {
        <div class="p-2 text-red-600">
          Description must be at least {{ descriptionMinLength }} characters long.
        </div>
      }
    </div>

    <div class="text-sm">
      briefly explain why you believe this review violates our guidelines (e.g., inappropriate language, spam, false information, etc.).
    </div>
  </form>
</app-popup-dialog>
